<%- partial('_partial/head') %>
<body>
  <div class="wrapper">
    <%- partial('_partial/header') %>
    <div class="content"><%- body %></div>
  </div>
  <% if (theme.widgets){ %>
  <div id="sidebar"<% if (theme.widgets_pos_right){ %> class="widgets-right"<% } else { %> class="widgets-bottom"<% } %>><%- partial('_partial/sidebar') %></div>
  <% } %>
  <footer id="footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after-footer') %>
</body>
</html>